[submodule "docker_ws/sdv_can/libs/vanttec_CANLib"]
	path = docker_ws/sdv_can/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
[submodule "docker_ws/sdv_control/libs/vanttec_controllers"]
	path = docker_ws/sdv_control/libs/vanttec_controllers
	url = https://github.com/vanttec/vanttec_controllers.git
[submodule "docker_ws/sdv_perception/sensors/velodyne"]
	path = docker_ws/sdv_perception/sensors/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "sdv_planner"]
	path = docker_ws/sdv_planner
	url = https://github.com/vanttec/sdv_planner_simulation_beetle.git
[submodule "docker_ws/sdv_localization/robot_localization"]
	path = docker_ws/sdv_localization/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "docker_ws/sdv_localization/slam_toolbox"]
	path = docker_ws/sdv_localization/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "docker_ws/sdv_localization/sensors/sbg_ros2_driver"]
	path = docker_ws/sdv_localization/sensors/sbg_ros2_driver
	url = https://github.com/SBG-Systems/sbg_ros2_driver.git
[submodule "docker_ws/sdv_localization/sensors/vectornav"]
	path = docker_ws/sdv_localization/sensors/vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "ws/isaac_ros_common"]
	path = ws/isaac_ros_common
	url = https://github.com/vanttec/isaac_ros_common.git
[submodule "workspace/src/sdv_lidar"]
	path = workspace/src/sdv_lidar
	url = https://github.com/vanttec/sdv_lidar.git
[submodule "workspace/src/drivers/vectornav"]
	path = workspace/src/drivers/vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "workspace/src/sdv_can/libs/vanttec_CANLib"]
	path = workspace/src/sdv_can/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
[submodule "workspace/src/sdv_control/libs/vanttec_controllers"]
	path = workspace/src/sdv_control/libs/vanttec_controllers
	url = https://github.com/vanttec/vanttec_controllers.git
[submodule "workspace/src/drivers/sbg_ros2_driver"]
	path = workspace/src/drivers/sbg_ros2_driver
	url = https://github.com/SBG-Systems/sbg_ros2_driver.git
[submodule "workspace/src/LIO-SAM"]
	path = workspace/src/LIO-SAM
	url = https://github.com/TixiaoShan/LIO-SAM.git
[submodule "utils/OA-LICalib"]
	path = utils/lidar_imu_calibration/OA-LICalib
	url = https://github.com/leo-drive/OA-LICalib.git
