.vscode/
can_devices/
.metadata
__pycache__/*
*.pyc
.docker_bash_history
workspace/build
workspace/install
workspace/log
tinyspline
navpilot-framework

# Temporal
workspace/src/hdmap_stack
workspace/src/lidar_modules
workspace/src/localization_modules
workspace/src/mapping_modules
workspace/src/mcap_reader
workspace/src/msgs
workspace/src/path_planning
workspace/src/pc2_to_bin
workspace/src/robot_description
workspace/src/sensor_stack
workspace/src/mrt_cmake_modules
workspace/src/gateway_modules
workspace/src/lidar_modules
workspace/src/camera_modules
workspace/src/lidar_camera_calib
workspace/src/multiCameraProcessing