<?xml version="1.0"?>
<robot name="sdv">
  <link name="sdv_base_link">
    <visual>
      <origin rpy="0 0 -1.5707" xyz="0.0 0.0 1.9"/>
      <geometry>
        <mesh filename="package://sdv_description/meshes/sdv.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
<!--
  <joint name="sdv_base_link_to_base_laser_joint" type="fixed">
    <parent link="sdv_base_link"/>
    <child link="base_laser"/>
    <origin xyz="0 0 1.0"/>
  </joint>

  <link name="base_laser">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>
  -->
</robot>